<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="css/LR.css" />
</head>
<body>
	<div class="frame" id="addgoods">
			<section>
				
				<table>
					<tr>
						<th>
							添加商品
						</th>
					</tr>
					<tr>
						<td id="warning"><%-errors %></td> 
					</tr>
					<tr>
						<td><input type="text" placeholder="商品名称" id="goodsname"></td>
					</tr>
					<tr>
						<td><input type="text" placeholder="商品价格" id="goodsprice"></td>
					</tr>
					
					<tr>
						<td><a href="javascript:;" id="addBtn">添加</a></td>
					</tr>
					<tr>
						<td><a href="Goods">返回商品页</a></td>
					</tr>
					
				</table>
			</section>
	</div>
</body>
<script src="js/jquery.js"></script>
 <script type="text/javascript">
//  var Lregis=document.getElementById('Lregis');
//  // serialize()方法进行序列化表单值，创建文本字符串。
    // var data=document.getElementById('Login').serialize();
    $("#Llogin").on("click",function(){
    	$.ajax({
	        url:'/addgoods',
	        type:'POST',
	        data:{
	        	goodsname:$("#goodsname").val(),
              goodsprice:$("#goodsprice").val()
       		},
	        success:function(data,status){
	           if(status == 'success'){
	           	 location.href='Goods';
	           }
	        },
	        error:function(res,err){
	           location.href='addGoods';
	        }
	    });

	});
   
 </script>
</html>